<nav class="navi">
        <ul>
            <li>
                <a target="_blank" href="https://www.linkedin.com/in/mariusorvik/detail/recent-activity/posts/">Blog</a>
            </li>
            <li>
                <a target="_blank" href="{{ site.linkedin }}">Connect with me</a>
            </li>
            <li class="close">
                <input type="checkbox" id="navigation" />
                <label for="navigation">
                Close menu [x]
                </label>
            </li>
        </ul>
</nav>