    <div id="footer">
      <div class="container-fluid">
	      <div class="row">
		    <div class="col-sm-4 col-xs-12">
			    <ul class="list-inline social-links">
				    <li><a href="https://twitter.com/{{ site.author.twitter }}" target="_blank">@{{ site.author.twitter }}</a></li>
				    <li><a href="https://no.linkedin.com/in/{{ site.author.linkedin }}" target="_blank">linkedin</a></li>
				    <li><a href="https://facebook.com/{{ site.author.facebook }}" target="_blank">facebook</a></li>
			    </ul>
		    </div>
		    <div class="col-sm-2 col-sm-offset-6 col-xs-12 text-right">
				<p>&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}</p>
		    </div>
      </div>
    </div>