<div class="container-fluid jumbotron frontpage-header text-left">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-1 text-center">
				<img src="/assets/images/marius@2x-min.png" class="portrait"/>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 col-sm-offset-1 text-center">
				<p class="lead"><strong>Hi, I'm Marius.</strong> I help digital companies grow their business.</p> 
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 col-sm-offset-1 text-center">
				<a href="mailto::marius@mariusorvik.com"><button class="btn btn-lg btn-primary">Contact me</button></a>
			</div>
		</div>
</div>