---
layout: frontpage
---

<div class="site">
  <div class="card">
    <div class="card-header">
      <div class="card-logo">
        <img src="/assets/images/Logo.svg">
      </div>
      <div class="card-menu">
        <input type="checkbox" id="navigation" />
          <label for="navigation">
            <img src="/assets/images/Menu.svg">
          </label>
        {% include _navigation.html %}
      </div>
    </div>
    <div class="card-content">
      <div class="card-text">
        <h1>Hello</h1>
        <h2>My name is Marius</h2>
        <p>
          I help companies grow. <br/>
          Connect with me:
        </p>
        <a href="{{ site.linkedin }}" target="_blank"><img class="connect-logo" src="/assets/images/Linkedin.svg"></a>
        <a href="mailto:{{ site.email }}"><img class="connect-logo" src="/assets/images/Email.svg"></a>
      </div>
      <div class="card-portrait"><img src="/assets/images/Portrait@2x.png"></div>
    </div>
  </div>
</div>
